# Dependencies & Package Managers
**/node_modules/
.pnpm-store/
.yarn/

# Environment Variables & Secrets
**/.env
**/.env.*
!**/.env.example

# Prisma Artifacts
# Excludes the locally generated engines/client binaries
**/.prisma/

# Logs & Diagnostics
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS & IDE Files
.DS_Store
Thumbs.db
**/.vscode/
**/.idea/